* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Chalkboard SE";
  src: url("../assets/chalkboard.otf");
}

body {
  font-family: "Chalkboard SE", serif;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: url("../assets/quiz-bg.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user-info-row {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  z-index: 2;
  margin-top: 10px;
}

.game-quiz-container {
  width: 40rem;
  height: 30rem;
  background-color: lightgray;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.total-timer-container {
  color: white;
  font-size: 45px;
  margin-left: 15px;
}

.game-details-container {
  width: 90%;
  top: 25px;
  z-index: 2;
  margin-top: 10px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-container div {
  display: flex;
  align-items: center;
}

.user-container {
  display: flex;
  justify-content: end;
}

.user-info-container {
  background: url("../assets/name-tag.png");
  height: 51px;
  width: 163px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.user-info-container span {
  font-size: 15px;
  color: #c44b01;
  font-weight: bold;
  user-select: none;
}

.player-score-container {
  background: url("../assets/3-star.png");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  width: 163px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#upper-player-score {
  font-size: 25px;
  color: #c44b00;
}

#question-score {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

#player-score-x {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.game-question-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35vh;
  border-radius: 15px;
  background-color: #fff8e8;
  border-style: solid;
  border-color: #eeba53;
  border-width: 10px;
  font-size: 4vw;
}

.game-question-container h1 {
  font-size: 2.5vw;
  margin-left: 10px;
  padding: 3px;
  text-align: center;
}

.game-options-container {
  width: 100%;
  height: 17rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.game-options-container span {
  width: 40%;
  height: 7rem;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  border-style: solid;
  border-color: #eeba53;
  border-width: 10px;
}
span label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(22, 22, 22);
  font-size: 3vw;
}

span label:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

input[type="radio"] {
  position: relative;
  display: none;
}

input[type="radio"]:checked ~ .option {
  background-color: paleturquoise;
}

.foot-bar {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.left-buttons-container {
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-question,
.total-question {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-no,
.total-question-no {
  position: absolute;
  font-size: 39px;
  color: #c44b01;
  user-select: none;
}

.left-topbar div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-number {
  position: absolute;
  font-size: 1.7vw;
  color: white;
  user-select: none;
}

.next-button-container {
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: end;
}

.hint-btn {
  cursor: pointer;
}

.next-button-container button,
.modal-continue {
  width: 50%;
  height: 50px;
  background: url("../assets/continue.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border: none;
}
.next-button-container button:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.hint-container,
.explanation-container {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.hint-container .modal-content-container,
.explanation-container .modal-content-container {
  height: 50%;
  width: 80%;
  border-radius: 15px;
  background-color: #fff;
  border-style: solid;
  border-color: #eeba53;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.hint-container .modal-content-container h1 {
  font-size: 68px;
  color: #75cb60;
}

.hint-detail {
  font-size: 3vw;
  color: #40547b;
}

.explanation-header {
  font-size: 64px;
  color: #75cb60;
  margin-top: 14px;
}

.explanation-detail {
  font-size: 3vw;
  color: #40547b;
}

.modal-content-container-result {
  position: relative;
  height: 9rem;
  width: 25rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.modal-content-container div:first-child {
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.modal-content-container-result h1 {
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.grade-details {
  position: absolute;
  top: 50px;
  left: -23px;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 27rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 12px solid #eeba53;
  border-radius: 15px;
  background-color: #fff8e8;
  color: black;
  justify-content: end;
}

.grade-details p {
  color: white;
  text-align: center;
}

.modal-button-container {
  position: relative;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-button-container button {
  width: 10rem;
  height: 2rem;
  background: none;
  outline: none;
  border: 1px solid rgb(252, 242, 241);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 20px;
}
.modal-button-container button:hover {
  background-color: rgb(83, 82, 82);
}

@media (300px <= width <= 350px) {
  .game-quiz-container {
    width: 90%;
    height: 80vh;
  }
  .game-details-container h1 {
    font-size: 0.8rem;
  }

  .game-question-container {
    height: 6rem;
  }
  .game-question-container h1 {
    font-size: 0.9rem;
  }

  .game-options-container span {
    width: 90%;
    height: 2.5rem;
  }
  .game-options-container span label {
    font-size: 0.8rem;
  }
  .modal-content-container-result {
    width: 90%;
    height: 9rem;
  }
}

@media (350px <= width <= 700px) {
  main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: black;
    background: url("../assets/quiz-bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .game-quiz-container {
    width: 90%;
    height: 80vh;
  }

  .game-details-container h1 {
    font-size: 1rem;
  }

  .game-question-container {
    height: 15rem;
    margin-bottom: 10px;
  }

  .game-options-container {
    height: auto;
  }

  .game-question-container h1 {
    font-size: 4vw;
  }

  .game-options-container span {
    width: 90%;
    margin-bottom: 10px;
  }

  .game-options-container span label {
    font-size: 25px;
  }

  .next-button-container {
    width: 90%;
    height: 3rem;
    display: flex;
    justify-content: end;
  }

  .modal-content-container-result {
    width: 90%;
    height: 9rem;
  }

  .score-container {
    flex-direction: column;
  }

  .foot-bar {
    flex-direction: column;
  }

  .foot-bar div {
    justify-content: center;
    width: 87%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* final page */

#result-container {
  position: relative;
  display: flex;
  height: 20rem;
  flex-direction: column;
}

#result-frame {
  position: relative;
  display: flex;
  /* background: url("../assets/frame.png"); */
  height: 5rem;
  min-width: 24.5rem;
  background-color: #fbc233;
  border: 10px solid #f28c09;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
  /* border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  object-fit: cover;
  background-repeat: no-repeat;
}

#result-text {
  display: block;
  color: #c44b01;
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 1px 1px black;
}

.score-container-star {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.single-star {
  width: 5rem;
  height: 5rem;
  margin-right: 5px;
}

.grade-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  margin-bottom: 1.5rem;
}

.score-text {
  color: #c44b01;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#user-score {
  color: #c44b01;
  font-size: 4.5rem;
  font-weight: bold;
}

#score-x {
  color: #c44b01;
  font-size: 2rem;
  font-weight: bold;
}

#progressBar {
  width: 80%;
  height: 22px;
  border-radius: 9px;
  background-color: #e3e2d8;
}

#progressBar div {
  height: 100%;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 100%;
  border-radius: 9px;
  background-color: green;
  box-sizing: border-box;
}

.question-time-container {
  background-color: #fff5db;
  border: 1px solid #ffbc52;
  font-size: 2.5vw;
}

.question-timer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}

.timer-container {
  width: 90%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.timer-text {
  display: block;
  color: #404040;
  font-size: 2rem;
  font-weight: bold;
}

.timer-content {
  display: flex;
  justify-content: center;
  width: 7rem;
}

#timer-logo {
  align-self: center;
  margin-right: 5px;
  height: 25%;
  width: 25%;
}

#timer-time {
  color: #404040;
  font-size: 2rem;
  font-weight: bold;
}

.modal-button-box {
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.modal-button-img {
  width: 80%;
  height: 80px;
  background: url("../assets/continue.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border: none;
}

#tick {
  position: absolute;
  top: -126px;
}

.explanation-detail div img {
  width: 100px !important;
  height: 100px !important;
}
